@import "../../styles/globalStyles.scss";

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 85.2vh;

  .register-title {
    font-size: 3rem;
  }

  .register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;

    .register-input {
      font-size: 1rem;
      padding: 0.25rem;
    }

    .register-button {
      font-size: 1rem;
      font-weight: 700;
      align-self: center;
      padding: 0.5rem 1rem;
      border-radius: 0.15rem;
      width: fit-content;
      transition: 0.25s all ease-in-out;
    }
  }

  &.dark {

    .register-form {

      .register-input {
        border-radius: 0.15rem;
        color: $darkColor;
        background-color: $darkOpacityColor;
      }

      input::placeholder {
        color: $darkColor;
      }

      .register-button {
        color: $darkColor;
        background: $darkOpacityColor;

        &:hover {
          color: $darkColor;
          background: $lightColor;
        }
      }
    }

    .register-goToLogin {
      color: $darkOpacityColor;

      a {
        color: $darkColor;
        filter: brightness(2.5);

        &:hover {
          text-decoration: underline;
        }
      }

    }

  }

  &.light {

    .register-form {

      .register-input {
        border-radius: 0.15rem;
        color: $lightColor;
        background-color: $lightOpacityColor;
      }

      input::placeholder {
        color: $lightColor;
      }

      .register-button {
        color: $lightColor;
        background: $lightOpacityColor;

        &:hover {
          color: $darkColor;
          background: $lightColor;
        }
      }
    }

    .register-goToLogin {
      color: $lightColor;

      a {
        color: $lightColor;
        filter: brightness(2.5);

        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
}