@import "../../styles/globalStyles.scss";

.blog-page {
  min-height: 85.2vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  nav {
    background-color: rgb(247, 149, 149);
    padding: 0.5rem;

    ul {
      background-color: rgb(156, 249, 156);
      padding: 0.5rem;

      li {
        background-color: none;
        padding: 0.25rem;

        button {
          background-color: rgb(162, 162, 247);
          padding: 0.55rem 0.55rem 0.25rem 0.525rem;
          font-weight: bold;
          font-size: 1rem;
          margin: 0;
          border: none;


          &:hover {
            background-color: rgb(101, 101, 249);
          }
        }
      }
    }
  }
}