@import "../../styles/globalStyles.scss";

.weather-container {

  width: 15vw;

  padding: 0;
  margin: 0;
  border: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-size: 0.75rem;
  position: fixed;
  bottom: 55px;
  left: 0;

  button,
  input {
    border: none;
    background: none;
  }

  .weather-display {

    input {
      width: 150px;
      margin-right: 0.5rem;
    }
  }


  .weather-search-invalid {

    input {
      width: 150px;
      margin-right: 0.5rem;
    }
  }

  .weather-display-working {
    .weather-display-status-200 {

      h3 {
        margin-bottom: 0.25rem;
      }

      p {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        justify-content: flex-start;
      }

      .button200 {
        font-weight: bold;
        margin-top: 0.25rem;
      }
    }
  }



  &.dark {

    button {
      color: $darkColor;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid $darkColor;
      }
    }

    .weather-display,
    .weather-search-invalid {

      input {
        border-bottom: 2px solid $darkColor;
        color: $darkColor;

        &::placeholder {
          color: $darkColor;
          opacity: 0.75;
        }
      }


    }
  }

  &.light {

    button {
      color: $lightColor;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid $lightColor;
      }
    }

    .weather-display,
    .weather-search-invalid {

      input {
        border-bottom: 2px solid $lightColor;
        color: $lightColor;

        &::placeholder {
          color: $lightColor;
          opacity: 0.75;
        }
      }


    }
  }
}