@import "../../styles/globalStyles.scss";

.coin-counter {

  width: 15vw;

  padding: 0;
  margin: 0;
  border: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 185px;
  left: 0;

  svg {
    width: 50px;

    path {
      fill: none;
    }
  }

  .coin-value {
    font-size: 0.75rem;
  }

}

.dark {
  svg {
    path {
      stroke: $darkColor;
    }
  }
}

.light {
  svg {
    path {
      stroke: $lightColor;
    }
  }
}