@import "../../styles/globalStyles.scss";

.coin-counter {
  margin: 0.75rem 0;
  padding: 0;
  position: fixed;
  bottom: 170px;
  left: 5px;
  display: flex;
  align-items: center;

  svg {
    width: 40px;

    path {
      fill: none;
    }
  }

  .coin-value {
    font-size: 0.75rem;
  }

}

.dark {
  svg {
    path {
      stroke: $darkColor;
    }
  }
}

.light {
  svg {
    path {
      stroke: $lightColor;
    }
  }
}