@import "../../styles/globalStyles.scss";

.page-home {
  width: 100%;
  transition: all 0.25s ease-in-out;

  .header-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 12vh;

    .logo-component {
      a {
        img {
          width: 100%;
          height: auto;
        }
      }

      svg {
        g.c {
          fill: none;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
      }
    }

    .configurations-component {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .configurations-item {

        select,
        option {
          margin: 0;
          text-align: center;
          appearance: none;
          font-weight: 500;
          padding: 0.25rem;
          border-bottom: 2px solid transparent;
        }

      }
    }

    .login-component {

      .ifLogin,
      .ifLogout {
        display: flex;
        gap: 1rem;
      }

      .ifLogin a {
        border-bottom: 2px solid transparent;
      }

      .ifLogout a {
        border-bottom: 2px solid transparent;
      }

      .login-area {
        display: flex;
        gap: 1rem;

        p a.login-account span {
          border-bottom: 2px solid transparent;
        }

        .login-button-logout {
          border-bottom: 2px solid transparent;
        }
      }
    }

  }

  .nav-component {
    width: 125px;
    text-align: center;
    background: none;
    position: relative;

    .dropdown {
      width: 125px;
      position: relative;
      display: inline-block;
      border-bottom: 2px solid transparent;
      background: none;

      button {
        font-weight: 500;
      }
    }

    .dropdown .dropdown-toggle {
      width: 125px;
      background: none;
      border: none;
      cursor: pointer;
    }

    .dropdown .dropdown-menu {
      width: 125px;
      position: absolute;
      top: 100%;
      left: 0;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .main-component {

    border-left: 2px solid transparent;

    .instructions-component {
      display: flex;
      flex-direction: column;

      p {
        padding-bottom: 0.75rem;

        a {
          transition: all 0.25s ease-in-out;
          font-weight: 700;
        }
      }

    }

  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////

  // DARK MODE
  &.dark {
    color: $darkColor;
    background: none;

    a {
      color: $darkColor;
    }

    .header-component {


      .logo-component {
        svg {
          g.c {
            stroke: $darkColor;
          }
        }
      }

      .configurations-component {
        .configurations-item {

          select,
          option {
            color: $darkColor;
          }

          option {
            background: $lightColor;
          }

          select:hover,
          option:hover {
            border-bottom: 2px solid $darkColor;
          }
        }
      }

      .login-component {

        .ifLogin a:hover {
          border-bottom: 2px solid $darkColor;
        }

        .ifLogout a:hover {
          border-bottom: 2px solid $darkColor;
        }

        p a.login-account span:hover {
          border-bottom: 2px solid $darkColor;
        }

        .login-button-logout:hover {
          border-bottom: 2px solid $darkColor;
        }
      }

    }

    .nav-component {


      .dropdown {

        button {
          color: $darkColor;
        }

        &:hover {
          border-bottom: 2px solid $darkColor;
        }
      }

      .dropdown .dropdown-menu {
        background: $lightColor;
        opacity: 0.9;


        li {
          color: $darkColor;


          &:hover {
            background: $lightColor;
            filter: brightness(1.25);
          }
        }
      }
    }

    .main-component {
      .instructions-component {
        p {
          a {
            &:hover {
              color: $lightColor;
            }
          }
        }

      }

    }
  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////

  // LIGHT MODE
  &.light {
    color: $lightColor;
    background: none;

    a {
      color: $lightColor;

    }

    .header-component {
      .logo-component {
        svg {
          g.c {
            stroke: $lightColor;
          }
        }
      }

      .configurations-component {
        .configurations-item {

          select,
          option {
            color: $lightColor;
          }

          option {
            background: $darkColor;
          }

          select:hover,
          option:hover {
            border-bottom: 2px solid $lightColor;
          }
        }
      }

      .login-component {

        .ifLogin a:hover {
          border-bottom: $lightColor;
        }

        .ifLogout a:hover {
          border-bottom: $lightColor;
        }

        p a.login-account span:hover {
          border-bottom: $lightColor;
        }

        .login-button-logout:hover {
          border-bottom: $lightColor;
        }
      }

    }

    .nav-component {


      .dropdown {

        button {
          color: $lightColor;
        }

        &:hover {
          border-bottom: $lightColor;
        }
      }

      .dropdown .dropdown-menu {
        background-color: $darkColor;
        opacity: 0.9;

        li {
          color: $lightColor;

          &:hover {
            background-color: $darkColor;
            filter: brightness(1.25);
          }
        }
      }
    }

    .main-component {


      .instructions-component {
        p {
          a {
            &:hover {
              color: $darkColor;
            }
          }
        }

      }

    }
  }

  // ACESSIBILITY
  &.upper {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &.lower {
    text-transform: lowercase;
    letter-spacing: 1px;
  }

  &.zoom {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  &.normal {
    letter-spacing: 1px;
  }

}