@import "../../styles/globalStyles.scss";

.page-home {
  width: 100%;
  transition: all 0.25s ease-in-out;
  min-height: 100vh;

  .header-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 12vh;
    animation: $animation;
    margin: 0.1rem 0 1rem 0;
    border-radius: 0.5rem;
    position: sticky;
    top: 0.1rem;
    padding: 0.5rem;
    z-index: 99999;

    .logo-component {
      a {
        img {
          width: 100%;
          height: auto;
        }
      }

      svg {
        g.c {
          fill: none;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
      }
    }

    .configurations-component {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .configurations-item {

        select,
        option {
          margin: 0;
          text-align: center;
          appearance: none;
          font-weight: 500;
          padding: 0.25rem;
          border-bottom: 2px solid transparent;
        }

      }
    }

    .login-component {

      .ifLogin,
      .ifLogout {
        display: flex;
        gap: 1rem;
      }

      .login-area {
        display: flex;
        gap: 1rem;
        align-items: center;

        p a.login-account span {
          border-bottom: 2px solid transparent;
        }
      }
    }

  }

  .nav-component {
    width: 125px;
    text-align: center;
    background: none;
    position: relative;
    z-index: 99999;

    .dropdown {
      width: 125px;
      position: relative;
      display: inline-block;
      border-bottom: 2px solid transparent;
      background: none;

      button {
        font-weight: 500;
      }
    }

    .dropdown .dropdown-toggle {
      width: 125px;
      background: none;
      border: none;
      cursor: pointer;
    }

    .dropdown .dropdown-menu {
      width: 125px;
      position: absolute;
      top: 100%;
      left: 0;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .main-component {

    border-left: 2px solid transparent;

    .instructions-component {
      display: flex;
      flex-direction: column;
      z-index: 99999;

      .instructions-component-why,
      .instructions-component-what,
      .instructions-component-guide {
        display: grid;
        animation: $animation;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.825;
        border-radius: 8px;
        margin-bottom: 1rem;
        transition: all 0.75s ease-in-out;
        padding: 0.5rem;

        .instructions-component-why-div,
        .instructions-component-what-div,
        .instructions-component-guide-div {
          animation: $animation;
          padding: 0.25rem;
          border-radius: 0.5rem;
        }

        p {
          padding-bottom: 0.75rem;

          a {
            transition: all 0.25s ease-in-out;
            font-weight: 700;
          }
        }
      }

      .instructions-component-why {
        background-position: center;
        background-image: url(../../assets/images/wallpaperQuestions.jpg);

        &:hover {
          opacity: 1;
          background-position: top;
        }
      }

      .instructions-component-what {
        background-position: center;
        background-image: url(https://c4.wallpaperflare.com/wallpaper/740/655/787/bleach-kurosaki-ichigo-mugetsu-wallpaper-preview.jpg);

        &:hover {
          opacity: 1;
          background-position: top;
        }
      }

      .instructions-component-guide {
        background-position: top;
        background-image: url(https://muramasa.com.br/wp-content/uploads/2023/02/my-hero-academia-deku.jpg);

        &:hover {
          opacity: 1;
          background-position: center;
        }
      }
    }
  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////

  // DARK MODE
  &.dark {
    color: $darkColor;
    background: none;

    a {
      color: $darkColor;
    }

    .header-component {

      background: linear-gradient(120deg, #190947, #a349bf, #5a1bb1, #a349bf, #190947);

      &:hover {

        background: linear-gradient(120deg, #240e67, #ba54d9, #6a21d0, #bd55dc, #250e6b);
        filter: brightness(1.1);
      }

      .logo-component {
        svg {
          g.c {
            stroke: $darkColor;
          }
        }
      }

      .configurations-component {
        .configurations-item {

          select,
          option {
            color: $darkColor;
          }

          option {
            background: #5a1bb1;
          }

          select:hover,
          option:hover {
            border-bottom: 2px solid $darkColor;
          }
        }
      }

      .login-component {

        .ifLogin a:hover {
          color: $darkOpacityColor;
          filter: brightness(1.5);
        }

        .ifLogout a:hover {
          color: $darkOpacityColor;
          filter: brightness(1.5);
        }

        p a.login-account span:hover {
          border-bottom: 2px solid $darkColor;
        }

        .login-button-logout:hover {
          color: $darkOpacityColor;
          filter: brightness(1.5);
        }
      }

    }

    .nav-component {


      .dropdown {

        button {
          color: $darkColor;
        }

        &:hover {
          border-bottom: 2px solid $darkColor;
        }
      }

      .dropdown .dropdown-menu {
        background: $lightColor;


        li {
          color: $darkColor;


          &:hover {
            background: $lightColor;
            filter: brightness(1.25);
          }
        }
      }
    }

    .main-component {
      .instructions-component {

        .onlyP {
          background-color: $lightColor;
          padding: 0.25rem;
          margin-bottom: 0.25rem;
          border-radius: 0.25rem;

          a:hover {
            text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.75),
              0px -4px 10px rgba(255, 255, 255, 0.3);
            color: $darkColor;
          }
        }


        .instructions-component-why {
          .instructions-component-why-div {
            background: linear-gradient(80deg, rgba(13, 13, 13, 0.85), rgba(145, 113, 71, 0.85));
          }
        }

        .instructions-component-what {
          .instructions-component-what-div {
            background: linear-gradient(160deg, rgba(100, 29, 15, 0.85), rgba(94, 94, 94, 0.85));
          }
        }

        .instructions-component-guide {
          .instructions-component-guide-div {
            background: linear-gradient(240deg, rgba(87, 87, 87, 0.85), rgba(84, 95, 26, 0.85));
          }
        }
      }
    }
  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////

  // LIGHT MODE
  &.light {
    color: $lightColor;
    background: none;

    a {
      color: $lightColor;

    }

    .header-component {
      background: linear-gradient(120deg, #a349bf, #a693f0, #e293f0, #a693f0, #a349bf);

      &:hover {
        background: linear-gradient(120deg, #bc55db, #b09cff, #f09dff, #b09cff, #bf56df);
        filter: brightness(1.1);
      }

      .logo-component {
        svg {
          g.c {
            stroke: $lightColor;
          }
        }
      }

      .configurations-component {
        .configurations-item {

          select,
          option {
            color: $lightColor;
          }

          option {
            background: #e293f0;
          }

          select:hover,
          option:hover {
            border-bottom: 2px solid $lightColor;
          }
        }
      }

      .login-component {

        .ifLogin a:hover {
          color: $darkColor;
          filter: brightness(1.5);
        }

        .ifLogout a:hover {
          color: $darkColor;
          filter: brightness(1.5);
        }

        p a.login-account span:hover {
          border-bottom: 2px solid $lightColor;
        }

        .login-button-logout:hover {
          color: $darkColor;
          filter: brightness(1.5);
        }
      }

    }

    .nav-component {
      .dropdown {

        button {
          color: $lightColor;
        }

        &:hover {
          border-bottom: 2px solid $lightColor;
        }
      }

      .dropdown .dropdown-menu {
        background-color: $darkColor;
        opacity: 0.9;

        li {
          color: $lightColor;

          &:hover {
            background-color: $darkColor;
            filter: brightness(1.25);
          }
        }
      }
    }

    .main-component {
      .instructions-component {

        .onlyP {
          background-color: $darkColor;
          padding: 0.25rem;
          margin-bottom: 0.25rem;
          border-radius: 0.25rem;

          a:hover {
            text-shadow: 2px 4px 4px rgba(72, 72, 72, 0.75),
              0px -4px 10px rgba(255, 255, 255, 0.3);
            color: $lightColor;
          }
        }

        .instructions-component-why {

          h3 {
            color: $lightColor;
          }

          p {
            color: $lightColor;
          }

          .onlyP a:hover {
            color: $lightColor;
          }

          .instructions-component-why-div {
            background: linear-gradient(80deg, rgba(255, 255, 255, 0.85), rgba(188, 152, 104, 0.85));
          }
        }

        .instructions-component-what {
          .instructions-component-what-div {
            background: linear-gradient(160deg, rgba(163, 38, 13, 0.85), rgba(154, 154, 154, 0.85));
          }
        }

        .instructions-component-guide {
          .instructions-component-guide-div {
            background: linear-gradient(240deg, rgba(228, 199, 187, 0.85), rgba(71, 118, 30, 0.85));
          }
        }
      }
    }
  }

  // CLEAN MODE
  &.clean {
    color: white;
    background: none;

    a {
      color: white;
    }

    .header-component {
      background: rgb(81, 81, 81);
      animation: none;

      &:hover {
        background: rgb(116, 116, 116);

      }

      .logo-component {
        svg {
          g.c {
            stroke: rgb(46, 46, 46);
          }
        }
      }

      .configurations-component {
        .configurations-item {

          select,
          option {
            color: white;
          }

          option {
            background: rgb(67, 67, 67);
          }

          select:hover,
          option:hover {
            border-bottom: 2px solid black;
          }
        }
      }

      .login-component {

        .ifLogin {
          a {
            color: rgb(169, 169, 169);

            &:hover {
              color: rgb(37, 37, 37);
              filter: brightness(1.5);
            }
          }
        }

        .ifLogout {
          a {
            color: rgb(169, 169, 169);

            &:hover {
              color: rgb(37, 37, 37);
              filter: brightness(1.5);
            }
          }
        }

        p a.login-account span:hover {
          border-bottom: 2px solid black;
        }

        .login-button-logout:hover {
          color: rgb(69, 69, 69);
          filter: brightness(1.5);
        }
      }

    }

    .nav-component {

      .dropdown {

        button {
          color: white;
        }

        &:hover {
          border-bottom: 2px solid rgb(67, 67, 67);
        }
      }

      .dropdown .dropdown-menu {
        opacity: 0.9;

        li {
          color: white;
          background: rgb(67, 67, 67);

          &:hover {
            background: rgb(31, 31, 31);
            filter: brightness(1.25);
          }
        }
      }
    }

    .main-component {
      .instructions-component {

        .instructions-component-why,
        .instructions-component-what,
        .instructions-component-guide {
          display: flex;
          background: rgba(92, 92, 92, 0.5);
          margin-bottom: 0.25rem;
          padding: 0.25rem;
          animation: none;
        }

        .instructions-component-why-div,
        .instructions-component-what-div,
        .instructions-component-guide-div {
          animation: none;
        }

        .onlyP {
          background-color: rgba(84, 84, 84, 0.5);
          padding: 0.25rem;
          margin-bottom: 0.25rem;
          border-radius: 0.25rem;

          a:hover {
            text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3),
              0px -4px 10px rgba(255, 255, 255, 0.3);
            color: rgba(50, 50, 50);
          }
        }

      }
    }
  }

  // ACESSIBILITY
  &.upper {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &.lower {
    text-transform: lowercase;
    letter-spacing: 1px;
  }

  &.zoom {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  &.normal {
    letter-spacing: 1px;
  }

}