.page-home {
  width: 100%;
  transition: all 0.25s ease-in-out;

  .header-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 12vh;

    .logo-component {

      a {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .configurations-component {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .configurations-item {

        select,
        option {
          font-weight: 500;
        }

      }
    }

    .login-component {

      .ifLogin,
      .ifLogout {
        display: flex;
        gap: 1rem;
      }

      .ifLogin a {
        border-bottom: 2px solid transparent;
      }

      .ifLogout a {
        border-bottom: 2px solid transparent;
      }

      .login-area {
        display: flex;
        gap: 1rem;

        p a.login-account span {
          border-bottom: 2px solid transparent;
        }

        .login-button-logout {
          border-bottom: 2px solid transparent;
        }
      }
    }

  }

  .nav-component {
    width: 125px;
    text-align: center;
    background: none;
    position: relative;

    .dropdown {
      width: 125px;
      position: relative;
      display: inline-block;
      border-bottom: 2px solid transparent;
      background: none;

      button {
        font-weight: 500;
      }
    }

    .dropdown .dropdown-toggle {
      width: 125px;
      background: none;
      border: none;
      cursor: pointer;
    }

    .dropdown .dropdown-menu {
      width: 125px;
      position: absolute;
      top: 100%;
      left: 0;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .main-component {

    border-left: 2px solid transparent;

    .instructions-component {
      display: flex;
      flex-direction: column;

      p {
        padding-bottom: 1rem;
      }

    }

  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////

  // DARK MODE
  &.dark {
    color: orangered;
    background: rgb(61, 61, 61);

    a {
      color: orangered;
    }

    .header-component {


      .logo-component {

        a {
          h1 {
            color: orangered;
          }
        }
      }


      .configurations-component {
        .configurations-item {

          select,
          option {
            border-bottom: 2px solid transparent;
            background: rgb(61, 61, 61);
            color: orangered;
          }

          select:hover,
          option:hover {
            border-bottom: 2px solid orangered;
          }
        }
      }

      .login-component {

        .ifLogin a:hover {
          border-bottom: 2px solid orangered;
        }

        .ifLogout a:hover {
          border-bottom: 2px solid orangered;
        }

        p a.login-account span:hover {
          border-bottom: 2px solid orangered;
        }

        .login-button-logout:hover {
          border-bottom: 2px solid orangered;
        }
      }

    }

    .nav-component {


      .dropdown {

        button {
          color: orangered;
        }

        &:hover {
          border-bottom: 2px solid orangered;
        }
      }

      .dropdown .dropdown-menu {
        background-color: rgb(95, 95, 95);

        li {
          color: orangered;

          &:hover {
            background-color: rgb(50, 50, 50);
          }
        }
      }
    }
  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////

  // LIGHT MODE
  &.light {
    color: purple;
    background: rgb(237, 237, 237);

    a {
      color: purple;

    }

    .header-component {


      .logo-component {

        a {
          h1 {
            color: purple;
          }
        }
      }

      .configurations-component {
        .configurations-item {

          select,
          option {
            border-bottom: 2px solid purple;
            background: none;
            color: purple;

          }
        }
      }

      .login-component {

        .ifLogin a:hover {
          border-bottom: 2px solid purple;
        }

        .ifLogout a:hover {
          border-bottom: 2px solid purple;
        }

        p a.login-account span:hover {
          border-bottom: 2px solid purple;
        }

        .login-button-logout:hover {
          border-bottom: 2px solid purple;
        }
      }

    }

    .nav-component {


      .dropdown {

        button {
          color: purple;
        }

        &:hover {
          border-bottom: 2px solid purple;
        }
      }

      .dropdown .dropdown-menu {
        background-color: rgb(206, 206, 206);

        li {
          color: purple;

          &:hover {
            background-color: rgb(178, 178, 178);
          }
        }
      }
    }
  }

  // ACESSIBILITY
  &.upper {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &.lower {
    text-transform: lowercase;
    letter-spacing: 2px;
  }

  &.zoom {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  &.normal {
    letter-spacing: 2px;
  }

}