@import "../../styles/globalStyles.scss";

.clock-container {

  width: 15vw;

  padding: 0;
  margin: 0;
  border: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  font-size: 0.75rem;
  position: fixed;
  bottom: 10px;
  left: 0;
}