@import "../../styles/globalStyles.scss";

.container-anime-generic {
  padding: 0.25rem;
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  animation: $animation;

  .data-anime {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .anime-data {
      display: inline-flex;
      gap: 1rem;
      width: 95%;
      border-radius: 0.5rem;

      .data-banner-anime img {
        width: 200px;
        height: 150px;
        display: flex;
        border-radius: 0.5rem;
      }

      .data-container-anime {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

      }

      &:hover {
        background-color: #9135a68f;
      }
    }

    .data-container-favorite {
      width: 5%;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: space-evenly;


      span {
        transition: all 0.25s ease-in-out;

        &:hover {
          scale: 1.2;
        }
      }

      a {
        transition: all 0.25s ease-in-out;

        &:hover {
          scale: 1.2;
        }
      }

    }

  }

  .data-animes {
    display: flex;
  }

  .container-temporada-generic {


    .container-episodio-generic {
      background: none;
      padding: 0.5rem;


      h2 {
        font-size: 1.25rem;
        cursor: pointer;
        opacity: 0.75;
        padding: 0.25rem;
        border-radius: 0.5rem;
        margin-bottom: 0.25rem;

        &:hover {
          opacity: 1;
          filter: brightness(1.15);
        }
      }

      .episodio-generic-p {
        background: none;
        display: flex;
        flex-direction: column;

        a {
          font-size: 1rem;
          cursor: pointer;
          opacity: 0.75;
          padding: 0.25rem 1rem;
          border-radius: 0.5rem;
          margin-bottom: 0.25rem;

          &:hover {
            opacity: 1;
            filter: brightness(1.15);
          }
        }
      }
    }
  }

  &.dark {

    background: $lightColor;

    .container-temporada-generic {
      .container-episodio-generic {
        h2 {
          background: #9135a661;

          &:hover {
            background: #9135a68f;
          }
        }

        .episodio-generic-p {

          a {
            background: #9135a661;

            &:hover {
              background: #9135a68f;
            }
          }
        }
      }
    }

  }

  &.light {
    background: $darkColor;

    .container-temporada-generic {
      .container-episodio-generic {
        h2 {
          background: $lightOpacityColor;

          &:hover {
            background: $darkColor;
          }
        }

        .episodio-generic-p {

          a {
            background: $lightOpacityColor;

            &:hover {
              background: $darkColor;
            }
          }
        }
      }
    }
  }
}