@import "../../styles/globalStyles.scss";

.project-page {
  display: flex;
  min-height: 85.2vh;
  flex-direction: column;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  background: none;


  .project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.5rem;
  }

  button {
    border-radius: 0.25rem;
    border: none;
    background: none;
    height: fit-content;
    font-weight: 500;

    a {}

  }

  .instructions-component {

    .project-content {

      a {
        font-weight: 700;
        font-size: 1.25rem;
        margin-left: 1rem;
        border-bottom: 3px solid transparent;

        &:hover {
          border-bottom: 2px solid $darkColor;
        }
      }

      .lang-func {
        margin: 0.25rem 0rem 1rem 0rem;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}