.project-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
  height: fit-content;
  font-size: 0.75rem;

  &.dark {
    background-color: rgb(81, 81, 81);
  }

  &.light {
    background-color: rgb(222, 222, 222);
  }

  .project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.5rem;
  }

  button {
    border-radius: 0.25rem;
    border: none;
    background: none;
    height: fit-content;
    font-weight: 500;

    a {}

  }
}