@import "../../styles/globalStyles.scss";

.footer {
  display: flex;
  flex-direction: column;
  width: 225px;
  align-items: center;
  position: fixed;
  bottom: 0px;
  right: 0px;

  p {
    font-size: 0.85rem;
    padding: 0.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;

  }

  @keyframes potato {

    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.05);
    }
  }

  .potato {
    display: flex;
    width: 80%;
    height: 200px;
    border-radius: 0.6rem;
    background-image: url('../../assets/images/potato.gif');
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      animation: potato 0.1s infinite;
    }
  }

  @keyframes neonAnimation {

    0% {
      box-shadow: 0 0 1px rgb(122, 71, 15), 0 0 3px rgb(255, 104, 4), 0 0 6px rgb(255, 169, 88);
    }

    50% {
      box-shadow: 0 0 1px rgb(8, 104, 104), 0 0 3px rgb(0, 255, 255), 0 0 6px rgb(123, 253, 253);
    }

    100% {
      box-shadow: 0 0 1px rgb(87, 5, 87), 0 0 3px rgb(255, 0, 255), 0 0 6px rgb(255, 94, 255);
    }
  }

  .icons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    overflow: hidden;

    img {
      width: 3rem;
      height: 3rem;

    }
  }

  .icons a img {
    border-radius: 1rem;
    transition: transform 0.25s;
  }

  .icons a::before {
    transition: opacity 0.25s;
  }

  .icons a:hover img {
    transform: scale(1.1);
  }

  .icons a:hover::before {
    opacity: 1;
  }
}