@import "../../styles/globalStyles.scss";

.player {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 195px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;


  .audio-element {
    width: 14vw;
    margin: 0.5rem;
    background: none;
    border-radius: 1.5rem;
    transition: all 0.25s ease-in-out;
    animation: $animation;
  }

  .audio-element:hover {
    width: 20vw;
  }

  button {
    background: none;
  }

  &.dark {
    .audio-element::-webkit-media-controls-panel {
      background: rgb(61, 61, 61);
    }


    .audio-element::-webkit-media-controls-volume-slider {
      background: rgb(61, 61, 61);
    }

    button {
      color: $darkColor;
    }
  }

  &.light {
    .audio-element::-webkit-media-controls-panel {
      background: #ededed;
    }

    .audio-element::-webkit-media-controls-volume-slider {
      background: #ededed;
    }

    button {
      color: $lightColor;
    }
  }

}