@import "../../styles/globalStyles.scss";

.player {

  width: 15vw;
  z-index: 3;
  padding: 0;
  margin: 0;
  border: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  bottom: 35%;
  left: 0;

  .audio-element {
    width: 13.5vw;
    margin: 0.5rem;
    background: none;
    border-radius: 1.5rem;
    transition: all 0.25s ease-in-out;
    animation: $animation;
  }

  .audio-element:hover {
    width: 20vw;
  }

  .buttonDiv {
    display: flex;
    width: 100%;
    justify-content: center;

    button {
      background: none;
      border-bottom: 2px solid transparent;
    }
  }

  &.dark {
    .audio-element::-webkit-media-controls-panel {
      background: rgba($lightColor, 0.85);
    }

    .audio-element::-webkit-media-controls-volume-slider {
      background: $lightColor;
    }

    .buttonDiv {
      button {
        color: $darkColor;

        &:hover {
          border-bottom: 2px solid $darkColor;
        }
      }
    }
  }

  &.light {
    .audio-element::-webkit-media-controls-panel {
      background: rgba($darkColor, 0.85);
    }

    .audio-element::-webkit-media-controls-volume-slider {
      background: $darkColor;
    }

    .buttonDiv {
      button {
        color: $lightColor;

        &:hover {
          border-bottom: 2px solid $lightColor;
        }
      }
    }
  }

}

@media (max-width: 768px) {
  .player {
    position: fixed;
    animation: $radiusNineTen;
    transform-origin: left top;

    .audio-element {
      width: 25vw;
      transition: width 0.3s ease;

      &:hover {
        width: 35vw;
      }
    }
  }
}